main {
    margin-top: 60px;
    z-index: -1;
    padding: 55px 10px;
    display: flex;
    flex-direction: column;
    .barra-busqueda{
        width: 100%;
        height: 50px;
        gap: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: clamp(16px, 20px, 22px);
            font-weight: 600;
        }
        form{
            width: 50%;
            height: 100%;
            input{
                all: unset;
                height: 100%;
                width: 100%;
                border: 1px solid #000;
                border-radius: 5px;
                padding-left: 10px;
                font-weight: 700;
            }
        }
    }
    .productos-encontrados{
        font-size: clamp(16px, 20px, 26px);
        font-weight: 800;
        margin-top: 20px;
    }
    .productos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minMax(200px, 250px));
        gap: 30px;
        padding: 35px 20px;
        place-content: center;
        place-items: center;
        color: #fff;
        .producto {
            width: 100%;
            aspect-ratio: 9/16;
            padding: 5px;
            border-radius: 5px;
            background-color: rgba(33, 37, 41, 0.85);
            display: grid;
            grid-template-rows: auto auto;
            flex-direction: column;
            position: relative;
            span{
                position: absolute;
                top: 15px;
                right: 15px;
                z-index: 1;
                font-size:22px;
                width: 25px;
                height: 25px;
                i{
                    cursor: pointer;
                    color: #000;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.2s;
                    transform-origin: center;
                }
                i:hover, i:hover ~ i{
                    transform: scale(1.2) translate(-50%, -50%);
                    
                }
                .fa-regular{
                    z-index: 1;
                }
                .fa-solid{
                    z-index: 0;
                    font-size: 19px;
                    color: rgb(255, 101, 101);
                }
            }
            .imagenes {
                width: 100%;
                overflow: hidden;
                position: relative;
                border-radius: 4px;
                
                i{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #000;
                    z-index: 1;
                    font-size: 19px;
                    cursor: pointer;
                }
                .fa-angle-left{
                    left: 5px;
                }
                .fa-angle-right{
                    right: 5px;
                }
                .carrousel{
                    display: flex;
                    flex-wrap: nowrap;
                    transform: translateX(0%);
                    transition: transform 0.5s;
                    img {
                        width: 100%;
                        z-index:0;

                    }
                }
            }
            .info-producto{
                height: 1fr;
                display: grid;
                grid-template-rows: 45px auto auto;
                gap: 5px;
                .nombre{
                    display: flex;
                    align-items: center;
                }
                .comprar{
                    display: flex;
                    width: 100%;
                    gap: 5px;
                    height: 35px;
                    button{
                        height: 100%;
                        width: 80%;
                        border: 1px solid #fff;
                        border-radius: 3px;
                        color: #fff;
                        cursor: pointer;
                        font-weight: 800;
                    }
                    button:hover{
                        background-color: rgba(255, 217, 0, 0.452);
                    }
                    select{
                        text-align: center;
                        width:20%;
                        height: 100%;
                        border-radius: 3px;
                        border: 1px solid #fff;
                        cursor: pointer;
                        font-weight: 800;
                        color: #fff;
                        background-color: rgba(33, 37, 41, 0.85);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 650px) {
    main {
        margin-top: 90px;
    }
}
