.mensaje{
  width: 320px;
  height: 90px;
  border-radius: 5px;
  background-color: #00000035;
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  z-index: 9999;
}
.error{
  color: red;
}
.notificacion{
  color: rgb(171, 255, 171);
}
.invisible{
  display: none;
}
.visible{
  display: flex !important;
  animation: moverMensaje 2s;
}
@keyframes moverMensaje {
  from{
    top: 130px;
  }
  to{
    top: 20px;
  }
}