main{
  height: calc(100% -120px);
  background-image: url('../img/sudadera2.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
h1{
  color: #fff;
  font-size: clamp(2rem, 5vw, 3rem);
  margin-bottom: 5px;
}
p{
  color: #ddd;
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin-bottom: 25px;
  text-align: center;
}
form{
  color: #ddd;
  font-weight: 700;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.form-row{
  display: grid;
  grid-template-columns: 90px auto;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.form-row input, textarea{
  color: #ddd;
  font-weight: 700;
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.mensaje{
  display: flex !important;
  flex-direction: column;
  align-items: start;
}
.mensaje textarea{
  width: 90%;
  height: 100px;
  padding: 10px;
  resize: none;
  margin: 0 auto;
}
button{
  color: #ddd;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover{
  background-color: goldenrod;
}
.error{
  color: red;
  font-weight: 700;
  text-align: center;
  font-size: 1rem;
}
.noti{
  color: green;
  font-weight: 700;
  text-align: center;
  font-size: 1rem;
}
@media screen and (max-width: 768px){
  form{
    width: 90%;
  }
  .form-row input, textarea{
    padding: 4px;
  }
}