.banner {
    width: 100%;
    height: 30rem;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-size: cover;
}
h2{
    color: red;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}
.productos-anunciados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(200px, 290px));
    gap: 30px;
    padding: 35px 20px;
    place-content: center;
    place-items: center;
    color: #fff;

    .producto {
        cursor: pointer;
        width: 100%;
        aspect-ratio: 9/14;
        border: 1px solid #333;
        display: flex;
        justify-content: end;
        position: relative;
        flex-direction: column;
        transition: transform 0.3s;

        span {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 1;
            font-size: 22px;
            width: 25px;
            height: 25px;

            i {
                cursor: pointer;
                color: #000;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.2s;
                transform-origin: center;
            }

            i:hover,
            i:hover~i {
                transform: scale(1.2) translate(-50%, -50%);

            }

            .fa-regular {
                z-index: 1;
            }

            .fa-solid {
                z-index: 0;
                font-size: 19px;
                color: rgb(255, 101, 101);
            }
        }

        .imagenes {
            width: 100%;
            overflow: hidden;
            position: relative;
            border-radius: 4px;
            top: 0px;
            left: 0px;
            height: 100%;
            position: absolute;

            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: #000;
                z-index: 1;
                font-size: 19px;
                cursor: pointer;
            }

            .fa-angle-left {
                left: 5px;
            }

            .fa-angle-right {
                right: 5px;
            }

            .carrousel {
                display: flex;
                flex-wrap: nowrap;
                transform: translateX(0%);
                transition: transform 0.5s;
                height: 100%;

                img {
                    width: 100%;
                    z-index: 0;
                    object-fit: contain;
                    object-position: top;
                }
            }
        }

        .detalle-producto {
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 100;
            min-height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }

        .info-producto {
            display: grid;
            grid-template-columns: auto auto;
            gap: 5px;
            padding: 5px 5px;
            width: 100%;
            height: calc(100% - 35px);

            .nombre {
                display: flex;
                align-items: center;
                width: 100%;
                word-wrap: break-word;
            }

            .precio {
                display: flex;
                align-items: center;
                width: 100%;
            }
        }

        .comprar {
            display: flex;
            width: 100%;
            height: 35px;

            button {
                height: 100%;
                width: 80%;
                border: 1px solid #fff;
                color: #fff;
                cursor: pointer;
                font-weight: 800;
                transition: 0.3s;
            }

            button:hover {
                background-color: rgba(255, 217, 0, 0.452);
            }

            select {
                text-align: center;
                width: 20%;
                height: 100%;
                border-radius: 0 !important;
                border: 1px solid #fff;
                cursor: pointer;
                font-weight: 800;
                color: #fff;
                background-color: rgba(33, 37, 41, 0.85);
            }
        }
    }
    .producto:hover {
        border: 2px solid goldenrod;
        transform: scale(1.01) translateY(-5px);
    }
}
.oferta{
    margin: 50px 0;
    width: 100%;
    height: 30rem;
    background-image: url("../img/oferta.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:clamp(25px, 6vw, 3.5rem);
    font-weight: 800;
    color: #fff;
    text-align: center;
    padding: 20px;
    span{
        color: red;
    }
}