.banner {
    width: 100%;
    height: 30rem;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-size: cover;
}
h2{
    color: red;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}

.oferta{
    margin: 50px 0;
    width: 100%;
    height: 30rem;
    background-image: url("../img/oferta.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:clamp(25px, 6vw, 3.5rem);
    font-weight: 800;
    color: #fff;
    text-align: center;
    padding: 20px;
    span{
        color: red;
    }
}