main{
  padding: 35px;
  padding-top: 90px;
}
h1{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
details{
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #b7dbff;
}
details[open] summary{
  border-radius: 5px 5px 0 0;
}
summary{
  font-weight: 900;
  font-size: 1.4em;
  background-color: #75baff;
  padding: 13px;
  border-radius: 5px;
  cursor: pointer;
}
details > div{
  padding: 9px;
  color:#fff;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.producto {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(33, 37, 41, 0.85);
  display: grid;
  align-items: center;
  grid-template-columns: 90px auto;
  grid-template-rows: 180px;
  flex-direction: column;
  position: relative;
  gap: 25px;
  .imagenes {
      overflow: hidden;
      position: relative;
      border-radius: 4px;
      aspect-ratio: 1/1;
      i{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: #000;
          z-index: 1;
          font-size: 19px;
          cursor: pointer;
      }
      .fa-angle-left{
          left: 5px;
      }
      .fa-angle-right{
          right: 5px;
      }
      .carrousel{
          display: flex;
          flex-wrap: nowrap;
          transform: translateX(0%);
          transition: transform 0.5s;
          align-items: center;
          img {
            width: 100%;
            height: 100% !important;
            aspect-ratio: 1/1;
            object-position: center;
            object-fit: contain;
            z-index:0;
            background-color: #fff;
          }
      }
  }
  .detalle{
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.verProductos{
  display: block;
  width: 100%;
  font-size: 1.1em;
  color: red;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width:900px) {
  .detalle{
    font-size: 0.9em !important;
  }
}