main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 40px) !important;
  padding: 0 !important;
  padding-top: 60px !important;
  margin: 0 !important;

  .producto {
    width: 400px!important;
    height: auto !important;
    flex-grow: 1;
    place-self: center;
  }
}
dialog{
  all: unset;
  position: absolute;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::backdrop {
    background-color: #000;
    opacity: 0.75;
  }
  img{
    height: 100%;
  }
  span{
    position: absolute;
  }
}