main{
  height: 100% !important;
  width: 100% !important;
  padding-top: 60px !important;
  place-content: center !important; 
  place-items: center !important;
}
@media screen and (max-width:700px) {
  main{
    padding-top: 90px !important;
  }
  
}
dialog{
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::backdrop {
    background-color: black;
    opacity: 0.75;
  }
  img{
    width: 550px;
    height: auto;
    aspect-ratio: 1/1.5;
    object-fit: cover;
  }
  span{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    font-weight: bold;
    &:hover{
      background-color: rgba(0,0,0,0.7);
    }

  }
}
dialog[open]{
  display: flex;
}
@media screen and (max-width:700px) {
  dialog{
    img{
      width: 100vw;
      height: auto;
      aspect-ratio: none;
    }
  }
  
}